
/*header section*/
.nav_container {
  height: 200px;
 
}

img,
embed,
object,
video {
  max-width: 100%;
}

.img_container {
    width: 200px;
    height: 400px;
}
/*

.box1 {
    background-color: black;
    border: black solid 2px;
}

.box2 {
    background-color: rgb(219, 70, 70);
    border: black solid 2px;
}

.box3 {
    background-color: rgb(99, 170, 52);
    border: black solid 2px;
}

.box4 {
    background-color: rgb(219, 26, 139);
    border: black solid 2px;
}


.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.header_logo {
  width: 30%;
  height: auto;
  background-color: black;
}
/*
.header_busn_text {
  width: 70%;
}
