/*  Add your styling here */
/*.selector-for-some-widget {
  box-sizing: content-box;
}


.navbar {
  border: black 2px solid;
}

.container-fluid {
  border: black 2px solid;
}
*/

Body {
  width: 270px;
}

.menu_lines {
  display: block;
  width: 5px;
  height: auto;
  background-color: black;
  box-shadow: 0 5px 0 black, 0 10px 0 black;
}
