/*  Add your styling here */
/*.selector-for-some-widget {
  box-sizing: content-box;
}

.container-fluid {
  border: black 2px solid;
}
*/
/*
Body {
}*/

.navbar_button_right {
  justify-content: right;
}

.nav-left {
  float: left;
}
